*{
    background-color: white;
    color: black;
}
.bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: black;
    box-shadow:  10px 10px 10px black;
 } 
  #check{
    display: none;
}  
 #check:checked ~ .bulb{
    background-color:yellow ;
    box-shadow:  10px 10px 10px  rgb(178, 178, 104);
} 